{% extends "base.html" %}

{% block cuerpo %} 

<div class="row"> <!-- fila en editar -->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Socios</h2>
        <!-- Aqui codigo tarjeta -->
        <div class="card"><!-- La tarjeta -->
            <div class="card-body">
                <form action="/editarSocios/" method="POST"> {% csrf_token %} <!-- Falta accion -->
                    <div class="form-group">
                        <input type="text" id="txtid" name="txtid" class="form-control" 
                        value="{{socios.Id_Socio}}" minlength="1" maxlength="6" readonly required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" 
                        value="{{socios.nombre}}" maxlength="100" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtts" name="txtts" class="form-control" 
                        min="1" max="9" value="{{socios.tipo_socio}}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtcontacto" name="txtcontacto" class="form-control" 
                        min="1" max="9" value="{{socios.contacto}}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="email" name="email" class="form-control" 
                        min="1" max="9" value="{{socios.email}}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtaporte" name="txtaporte" class="form-control" 
                        min="1" max="9" value="{{socios.aporte}}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtbeneficio" name="txtbeneficio" class="form-control" 
                        min="1" max="9" value="{{socios.beneficio}}" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div><!-- La tarjeta -->
        <!-- Aqui codigo tarjeta -->
    </div>

</div> <!-- fila en editar -->

{% endblock %}